header {
  padding: 75px 0 52px;
  background: #F0F0F2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 367px;
  width: 100%;
}

.nav-menu {
  margin: 0 auto;
}
.nav-menu .form-search, .nav-menu .btn-callback, .nav-menu .phone {
  display: none;
}
.nav-menu__close {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  fill: #302F35;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
.menu li {
  margin: 0 38px 0 0;
}
.menu li:last-child {
  margin: 0;
}
.menu li a {
  color: #302F35;
  position: relative;
  z-index: 1;
}
.menu li a::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  background: #302F35;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.menu li a:hover {
  color: #fff;
}
.menu li a:hover::before {
  width: 100%;
}

.phone {
  margin: 0 37px 0 58px;
  color: #302F35;
  position: relative;
  z-index: 1;
  font-size: 32px;
  font-weight: 900;
}
.phone::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  background: #302F35;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.phone:hover {
  color: #fff;
}
.phone:hover::before {
  width: 100%;
}

.btn-burger {
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  border: 1px solid #302F35;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 20px;
}
.btn-burger span {
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 0 4px;
  background: #302F35;
}
.btn-burger span:last-child {
  margin: 0;
}