.home {
  width: 100%;
  background: url("../img/home-bg.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.home img {
  width: 100%;
}

.home-image {
  width: 100%;
}
.home-image img {
  width: 100%;
}

.parallax-text {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(48, 47, 53, 0.2)), color-stop(50%, #302F35)) 0 0/200% 100%;
  background: linear-gradient(to right, rgba(48, 47, 53, 0.2) 50%, #302F35 50%) 0 0/200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: slice;
  -webkit-box-decoration-break: slice;
}

.about {
  overflow: hidden;
}
.about .h2 {
  margin: 20px 0 54px;
}

.about-box {
  margin: 0 0 136px;
}
.about-box .box-text {
  max-width: 633px;
}

.about-box2 .about-box__content {
  padding: 200px 0 0 100px;
}
.about-box2 h3 {
  max-width: 382px;
}

.about-box3 {
  position: relative;
  z-index: -1;
}
.about-box3 .about-box__content {
  padding: 0 0 0 57px;
}

.about-box4 {
  margin: 280px 0 0;
}
.about-box4 .about-box__content {
  padding: 0 0 0 150px;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
.about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-image1 {
  height: 661px;
}

.about-image2 {
  height: 1003px;
  max-width: 822px;
}

.about-image3 {
  height: 925px;
  max-width: 837px;
  margin: -550px 0 0 -200px;
}

.about-image4 {
  max-width: 804px;
  height: 907px;
  margin: -342px 0 175px -100px;
}

.about-image5 {
  height: 1130px;
  min-width: 978px;
}

.catalog-section {
  margin: 136px 0 60px;
}

.link-page {
  margin-left: auto;
}

.product-card {
  width: 100%;
  height: 100%;
  font-size: 32px;
}
.product-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  height: 367px;
  width: 100%;
}
.product-card__img img {
  max-height: 100%;
}
.product-card__body {
  padding: 34px 0 0;
}
.product-card__title {
  text-transform: uppercase;
  color: #302F35;
}
.product-card__title:hover {
  color: #000;
}
.product-card .btn {
  margin: 48px 0 0;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 24px 0 0;
}

.catalog-row {
  margin: 0 -42px;
}
.catalog-row .col-12 {
  padding: 0 42px;
}

.about-masters {
  width: 100%;
  background: url("../img/master-bg.jpeg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding: 720px 0 92px;
  color: #fff;
  position: relative;
  z-index: 1;
}
.about-masters::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(9.9%, #302F35), color-stop(36.06%, rgba(48, 47, 53, 0)));
  background: linear-gradient(0deg, #302F35 9.9%, rgba(48, 47, 53, 0) 36.06%);
  left: 0;
  top: 0;
}
.about-masters .container {
  max-width: 1920px;
  padding: 0 87px;
}
.about-masters h2 {
  color: #fff;
  font-family: "DelaGothicOne", sans-serif;
  font-size: 252px;
  line-height: 255px;
  text-transform: uppercase;
  margin: 0 0 74px;
}
.about-masters .box-text {
  max-width: 1490px;
}

.stages-work {
  padding: 140px 0 100px;
  background: #302F35;
  color: #fff;
}
.stages-work h2 {
  color: #fff;
  margin: 0 0 57px;
  font-weight: normal;
}

.stages-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
.stages-work-box__number {
  font-weight: 900;
  font-size: 118px;
  text-transform: uppercase;
  line-height: 130px;
  margin: 0 38px 0 0;
}
.stages-work-box__content {
  max-width: 663px;
}

.page {
  margin: 0 0 155px;
}

.filter-wrapper {
  width: 100%;
  margin: 85px 0 100px;
}
.filter-wrapper__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.filter-wrapper__close {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  fill: #302F35;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-box {
  padding: 0 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1;
}
.filter-box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: calc(100% - 20px);
  background: #302F35;
}
.filter-box .h4 {
  font-weight: bold;
  font-size: 20px;
  font-family: "Commissioner", sans-serif;
  margin: 0;
  width: 150px;
}
.filter-box:last-child {
  padding-right: 0;
  width: calc(100% - 440px - 520px);
}
.filter-box:last-child::before {
  display: none;
}
.filter-box:first-child {
  padding-left: 0;
  max-width: 440px;
}
.filter-box:nth-child(2) {
  max-width: 520px;
}

.list-checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-checkbox li {
  margin: 0 0 20px 0;
  width: 50%;
}
.list-checkbox.w-30 li {
  width: 30%;
}
.list-checkbox.w-30 li:nth-child(3n) {
  width: 40%;
}

.btn-filter {
  display: none;
}