@import "vars"

footer
	color: #fff
	background: $accent
	padding: 70px 0 104px
	position: relative
	z-index: 1
	font-size: 20px
	&::before
		content: ''
		position: absolute
		left: 50%
		top: 0
		transform: translate(-50%,0)
		background: #fff
		height: 1px
		width: 100%
		max-width: 1720px
		width: calc(100% - 30px)
		z-index: -1
	.logo
		filter: brightness(0) invert(1)
		max-width: 302px
	.nav-menu
		margin: 0 auto 0 60px	
	.menu
		font-size: 20px
		li
			a
				color: #fff
				&:before
					background: #000
	.form-search
		margin: 0 67px 0 0
		input
			border-color: #fff		
			color: #fff
			font-size: 20px
			&::placeholder
				color: #fff
		[type='submit']
			fill: #fff			
	.btn
		font-weight: normal		

.footer-phone
	color: #fff
	font-size: 118px
	line-height: 130px
	margin: 0 auto 0 0
	&:before
		background: #000

.footer-bottom
	margin: 68px 0 0

.footer-box
	font-size: 20px
	margin: 0 0 0 60px
	p	
		margin: 0 0 20px
		&:last-child
			margin: 0
	a
		color: #fff
		margin: 0 0 20px
		position: relative
		z-index: 1		
		&:hover
			&::before
				width: 100%
		&::before
			content: ''
			position: absolute
			z-index: -1
			width: 0
			height: 100%
			background: #000
			left: 0
			top: 0
			transition: .3s ease			

// modal
.modal-dialog
	max-width: 1428px
	font-size: 24px

.modal-content
	border: none
	border-radius: 0
	background: #F0F0F2

.btn-close
	position: absolute
	padding: 0
	margin: 0
	z-index: 2
	top: 44px
	right: 60px
	@include d-flex
	opacity: 1
	fill: #302F35
	width: 30px
	height: 30px
	min-width: 30px
	border: none
	border-radius: 0
	outline: none
	box-shadow: none
	&:hover, &:focus
		outline: none
		box-shadow: none

#callbackModal
	.btn-close
		fill: #fff


.modal-body
	padding: 83px 60px 43px
	margin: 0
	border: none
	

.modal-footer
	color: #fff
	background: #302F35
	padding: 57px 60px 50px
	border-radius: 0
	border: none
	> *
		margin: 0
	h2
		text-align: center
		color: #fff
		margin: 0 auto 13px

.consent
	font-size: 12px

.subtitle
	width: 100%
	margin: 0 auto 0 
	font-size: 24px			

.form-callback
	margin: 44px auto 0						

.product-wrapper
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap

.product-slider-preview
	width: 112px
	.slick-prev
		display: none !important
	.product-slider__item
		height: 112px
		width: 100%
		@include d-flex
		background: #fff
		cursor: pointer
		img
			max-height: 100%
	.slick-slide	
		margin: 0 0 40px
		opacity: 0.5
		&.slick-current
			opacity: 1	


.product-slider-max
	width: 558px
	margin: 0 0 0 80px		
	.product-slider__item
		width: 100%
		height: 558px
		@include d-flex
		background: #fff
		img
			max-height: 100%

.product-content
	width: calc(100% - 558px - 80px - 112px)
	padding: 84px 0 0 40px
	.price
		font-weight: 900
		font-size: 32px


.product-title
	font-size: 32px
	margin: 0 0 37px
	width: 100%

.list-characteristics
	margin: 80px 0 0
	li
		width: 100%
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		margin: 0 0 40px
		&:last-child
			margin: 0
	p
		min-width: 168px
		font-weight: 500


