@import "vars"

header
	padding: 75px 0 52px
	background: #F0F0F2
	transition: .3s ease
	&.fixed
		position: fixed
		left: 0
		top: 0
		width: 100%	
		z-index: 10
		padding: 20px 0
		


.logo
	@include d-flex
	max-width: 367px
	width: 100%

.nav-menu
	margin: 0 auto
	.form-search, .btn-callback, .phone
		display: none
	&__close
		width: 20px
		height: 20px
		z-index: 1
		position: absolute
		right: 20px
		top: 10px
		cursor: pointer
		fill: $accent	
		display: none
		align-items: center
		justify-content: center

.menu
	display: flex
	align-items: center
	font-size: 24px
	li
		margin: 0 38px 0 0
		&:last-child
			margin: 0
		a
			color: $accent
			position: relative
			z-index: 1
			&::before
				content: ''
				position: absolute
				z-index: -1
				height: 100%
				width: 0
				background: $accent
				transition: .3s ease
			&:hover
				color: #fff
				&::before
					width: 100%

.phone
	margin: 0 37px 0 58px
	color: $accent
	position: relative
	z-index: 1
	font-size: 32px
	font-weight: 900
	&::before
		content: ''
		position: absolute
		z-index: -1
		height: 100%
		width: 0
		background: $accent
		transition: .3s ease
	&:hover
		color: #fff
		&::before
			width: 100%

.btn-burger
	width: 40px
	height: 40px
	min-width: 40px
	padding: 10px
	border: 1px solid #302F35
	display: none
	flex-direction: column
	align-items: center
	justify-content: center
	margin: 0 0 0 20px
	span
		display: block
		width: 100%
		height: 2px
		margin: 0 0 4px
		background: #302F35
		&:last-child
			margin: 0
